*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

#tabla{
    width: 50vw;
    border-top: 1px solid black;
    border-right: 1px solid black;

}
.fila{
    display: flex;

}
.columna{
    flex: 1;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    padding: 5px;
}
.titular{
    background-color: cornflowerblue;
}
.container-detail{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.dash{
    font-size: 25px;
}
.cont-form{
    width: 30vw;
    margin-top: 25px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    height: 30px;
    margin-top: 3px;
}