<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script  src="/languagesScript.js" defer ></script>
    <script  src="/detailScript.js" defer ></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Detail</title>
</head>
<body>
<div class="container-detail">
    <div>
        <h1>Detalles</h1>
        <h3>Nombre: <span class="nombre"></span></h3>
        <h3>Creator: <span class="creator"></span></h3>
        <h3>Version: <span class="version"></span></h3>
        <a id="link_editar">Editar</a>
        <button id="btn_eliminar">Eliminar</button>
    </div>
    <a class="dash" href="/languages">Dashboard</a>
</div>


</body>
</html>