<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/editScript.js" defer></script>
    <title>Edit</title>
</head>
<body>
<div class="cont-form">
    <form id="form_editar">
        <input type="text" placeholder="nombre" id="name" name="name">
        <input type="text" placeholder="creador" id="creator" name="creator">
        <input type="text" placeholder="version" id="currentVersion" name="currentVersion">
        <input type="submit" value="Editar Lenguaje">
    </form>
</div>
</body>
</html>